aioredis==1.3.1
aniso8601==7.0.0
argon2-cffi==20.1.0
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.12.3
Automat==20.2.0
autopep8==1.5.3
beautifulsoup4==4.9.1
boto3==1.14.16
botocore==1.17.16
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==3.3.2
defusedxml==0.6.0
-e git+https://github.com/django/django.git@659a73bc0a2df9be856e23fcfc6cc66d0d1a35fd#egg=Django
django-allauth==0.42.0
django-anymail==7.1.0
django-contrib-comments==1.9.2
django-crispy-forms==1.9.1
django-environ==0.4.5
django-markdownx==3.0.1
django-redis==4.12.1
django-storages==1.9.1
django-taggit==1.3.0
docutils==0.15.2
gevent==20.6.2
graphene==2.1.8
graphene-django==2.11.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==0.4.16
gunicorn==20.0.4
hiredis==1.0.1
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
msgpack==1.0.0
oauthlib==3.1.0
Pillow==9.0.1
promise==2.3
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyHamcrest==2.0.2
pylint==2.6.1
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
raven==6.10.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
Rx==1.6.1
s3transfer==0.3.3
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.15.0
sorl-thumbnail==12.6.3
soupsieve==2.0.1
sqlparse==0.4.2
text-unidecode==1.3
toml==0.10.1
tweepy==3.9.0
twitter==1.18.0
txaio==20.4.1
Unidecode==1.1.1
urllib3==1.26.5
whitenoise==5.1.0
wrapt==1.12.1
zope.event==4.4
zope.interface==5.1.0
